<div class="card">
	<header class="card-header">
		<p class="card-header-title">
			{{me.title}}
		</p>
		<p class="card-header-icon">
			<span class="tag is-info is-light is-rounded">#{{ me.id }}</span>
		</p>
	</header>
	<div class="card-content">
		<div [innerHTML]="convertedMarkdown"></div>
		<hr>
		<p> creation: {{me.creation.getDate() | date: 'longDate' }}</p>
		<p> last mod: {{me.lastModification.getDate() | date: 'longDate' }}</p>
	</div>
	<footer class="card-footer">
		<a class="card-footer-item">
			<button class="button is-success" (click)="EditNote(me.id)">Edit</button>
		</a>
		<a class="card-footer-item">
			<button class="button is-danger" (click)="Delete()">Delete</button>
		</a>
	</footer>
</div>
