<div class="card">
	<header class="card-header">
		<p class="card-header-title">
			{{me.title}}
		</p>
		<p class="card-header-icon">
			<span class="tag is-info is-light is-rounded">#{{ me._id }}</span>
		</p>
	</header>
	<div class="card-content">
		<div class="my-scroll" [innerHTML]="convertedMarkdown"></div>
		<hr>
		<p> creation: {{me.creation.getDate() | date: 'yyyy/MM/dd HH:mm:ss' }}</p>
		<p> last mod: {{me.lastModification.getDate() | date: 'yyyy/MM/dd HH:mm:ss' }}</p>
		<!-- Tags section -->
		<div class="tags" *ngIf="me.tags && me.tags.length">
			<span *ngFor="let tag of me.tags"
				class="tag is-blue is-info is-rounded">
				{{ tag }}
			</span>
		</div>
	</div>
	<footer class="card-footer buttons-footer">
		<button class="button is-success" (click)="EditNote(me._id)">
			<span class="icon is-small"><i class="fas fa-edit"></i></span>
			<span class="is-hidden-mobile is-hidden-when-narrow">Edit</span>
		</button>
		<button class="button is-warning" (click)="DupeNote(me._id)">
			<span class="icon is-small"><i class="fas fa-copy"></i></span>
			<span class="is-hidden-mobile is-hidden-when-narrow">Dupe</span>
		</button>
		<button class="button is-danger" (click)="Delete()">
			<span class="icon is-small"><i class="fas fa-trash"></i></span>
			<span class="is-hidden-mobile is-hidden-when-narrow">Delete</span>
		</button>
	</footer>
</div>
