<div class="box pb-3 has-background-grey-dark" style="transform: translateX(25%); width: 75%">
	<div class="has-text-centered pb-3">
		<i class="fa-solid fa-registered fa-xs"></i>
		Time Machine
		<i class="fa-solid fa-copyright fa-xs"></i>
	</div>
	<div class="box has-background-grey-dark">
    <dateselect
      [today]="day"
      [defaultDwmy]="'d'"
      [updateRouteOnChange]="false"
      (changedDayEvent)="changedDay($event)"
      (changeDWMY)="changedDwmy($event)">
    </dateselect>
	</div>
  <div class="control box has-background-grey-dark">
			<label for="time" class="label"> Time </label>
			<input  id="time" name="time"
				type="time"
				class="input"
				step="1"
				[(ngModel)]="time"
				(ngModelChange)="onTimeChange(time)" />
  			<!-- step="1" 👈 this enables seconds -->
		</div>
	<p>Day: {{day}}</p>
</div>
