<!DOCTYPE html>

<dateselect
	(changedDayEvent)="changedDay($event)"
	(changeDWMY)="changedDwmy($event)">
</dateselect>

@switch( dwmy ) {
	@case('d') {
		<day
			[day]="day"
			[visualize]="'day'"
			[events]="events"
			(saveEvent)="onSaveEvent($event)"
			(deleteEvent)="onDeleteEvent($event)">
		</day>
	}
	@case('w') {
		<week
			[day]="day"
			[events]="events"
			(saveEvent)="onSaveEvent($event)"
			(deleteEvent)="onDeleteEvent($event)">
		</week>
	}
	@case('m') {
		<month
			[day]="day"
			[visualize]="'month'"
			[events]="events"
			(saveEvent)="onSaveEvent($event)"
			(deleteEvent)="onDeleteEvent($event)">
		</month>
	}
	@case('y') {
		<div class="fixed-grid has-4-cols">
			<div class="grid">
			@for(i of createRange(12); track i) {
				<div class="cell">
					<month
						[month]="i - 1"
						[year]="day.getFullYear()"
						[visualize]="'year'"
						[events]="events"
						(saveEvent)="onSaveEvent($event)"
						(deleteEvent)="onDeleteEvent($event)">
					</month>
				</div>
			}
			</div>
		</div>
	}
}
