<div style="border-right: grey solid 0.1vw" class="mr-6">
  <aside class="menu">
    <p class="menu-label">Calendars</p>
    <ul class="menu-list">
      <li><a (click)="navigateToCalendar()">Calendar</a></li>
      <li><a (click)="navigateToPomodoro()">Pomodoro</a></li>
      <li><a (click)="navigateToNotes()">Notes</a></li>
    </ul>
    <p class="menu-label">User</p>
    <ul class="menu-list">
      <li>
        <a (click)="navigateToAccountsettings()">Account Settings</a>
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </aside>
</div>
