<!DOCTYPE html>

<div>
    <button class="button" (click)="default()"> Today </button>
    <button class="button" (click)="aggiornaData('prev', this.dwmy, this.today)" >
        &lt; </button>
    {{ this.today | date: 'yyyy/MM/dd' }}    
    <button class="button" (click)="aggiornaData('next', this.dwmy, this.today)" >
        &gt; </button>
    <select [(ngModel)]="dwmy" (ngModelChange)="onDwmyChange($event)" name="dwmy">
        <option value="d">day   D</option>
        <option value="w">week  W</option>
        <option value="m" selected>month M</option>
        <option value="y">year  Y</option>
    </select>
    {{ this.today | date: 'fullDate' }}
</div>
