<!DOCTYPE html>

<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
</head>
<body>
  <div class="columns is-centered">
    <form [formGroup]="loginGroup" (ngSubmit)="onSubmit()" class="column is-two-fifths">
      <div #emailfield class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email input" value="hello@" [formControl]="emailInput">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
      <div #passwordfield class="field">
        <div class="level">
          <div class="control has-icons-left has-icons-right level-item">
            <input #passwordInputTag class="input" type="password" placeholder="Password"
                   [formControl]="passwordInputControl">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            <span class="icon is-small is-right">
              <i #eyeIcon class="fas fa-eye" (click)="togglePasswordVisibility(passwordInputTag, eyeIcon)" style="pointer-events: auto; cursor: pointer; z-index: 1;"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="field is-grouped is-grouped-centered">
        <button type="submit" [disabled]="emailInput.invalid" class="button is-primary is-outlined"> Login</button>
      </div>
    </form>
  </div>
</body>

<router-outlet></router-outlet>
