<div class="card content">
	<!-- INFOS -->
	@if ( visualize == "day" || visualize == "week") {
		<div *ngFor="let i of infos; trackBy: trackById" class="level">
			@if( i.icon ) {
				<i class="fas fa-{{i.icon}}"></i>
			} @else {
				<label> {{ i.name }}	</label>
			}
			<span class="level-item" [class.is-hidden]="i.hidden">
				<input class="input" type="text" [placeholder]="i.name" [(ngModel)]="i.value" />
				<button class="button" (click)="edit(i)">Edit</button>
			</span>
			<span class="level-item" (click)="toggle(i)" [class.is-hidden]="!i.hidden">
				{{ i.value }}
			</span>
		</div>
		<!-- DATE RANGE -->
		<div class="is-flex is-align-items-center is-justify-content-center is-flex-wrap-wrap" style="gap: 1.5rem;">
		
			<!-- DATE FROM -->
			<div class="is-flex is-flex-direction-column is-align-items-center"
					style="min-width: 90px; position: relative;" (click)="editDateFrom()">
				<p class="is-size-7 mb-1">{{ event.dateFrom | date: 'dd MMM' }}</p>
				<p class="title is-6 mb-0">{{ event.dateFrom | date: 'H:mm' }}</p>
				<!-- non mi piace la pencil
				<span class="icon is-small"
						style="position: absolute; left: -1.5rem; top: 50%; transform: translateY(-50%);"
						title="Modifica inizio">
					<i class="fas fa-pencil-alt" (click)="editDateFrom()"></i>
				</span>	-->
			</div>
		
			<!-- ARROW -->
			<div class="is-flex is-align-items-center" style="height: 100%;">
				<i class="fas fa-arrow-right"></i>
			</div>
		
			<!-- DATE TO -->
			<div class="is-flex is-flex-direction-column is-align-items-center"
					style="min-width: 90px; position: relative;" (click)="editDateTo()">
				<p class="is-size-7 mb-1">{{ event.dateTo | date: 'dd MMM' }}</p>
				<p class="title is-6 mb-0">{{ event.dateTo | date: 'H:mm' }}</p>
				<!-- non mi piace la pencil
				<span class="icon is-small"
						style="position: absolute; right: -1.5rem; top: 50%; transform: translateY(-50%);"
						title="Modifica fine">
					<i class="fas fa-pencil-alt" (click)="editDateTo()"></i>
				</span> -->
			</div>
		</div>

		<!-- WHO -->
		<div #who class="mb-3">
			<div class="is-flex is-align-items-center">
				<i class="far fa-user mr-2"></i>
				<p class="mb-1 has-text-weight-medium">Partecipanti:</p>
			</div>
			<ul class="ml-4">
				@for (person of event.who; track person.id) {
					<li>{{ person.name }}</li>
				}
			</ul>
		</div>

		<!-- REPEAT -->
		<div #repeat class="is-flex is-align-items-center mb-3">
			<i class="fas fa-alarm-clock mr-2"></i>
			<span class="mr-2">Ripetizione:</span>
			<div>
				@for (r of event.repeat; track r.id) {
					<span class="tag is-light mr-1">{{ r.time }}</span>
				}
			</div>
		</div>
	}
</div>
