.modal-card-body {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.columns {
	margin-top: 0;
	margin-bottom: 0;
}

.field {
	margin-bottom: 0;
}

textarea.textarea {
	min-height: 100px; /* Optional: maintain height if you reduce spacing */
}

#content {
	padding-left: 10px;
	padding-right: 10px;
}
