<!-- Evento cliccabile -->
<div #content
	(click)="openModal()"
	class="has-text-centered"
	[ngClass]="getCornerClasses()"
	[ngStyle]="{ 'background-color': evento.colour }">
	<!-- {{ evento.start.time }}-{{ evento.end.time }} -->
	<p>
		<span *ngIf="cornerMask === 'left'"> {{evento.start.time.slice(0, 2)}} - </span>
		{{ evento.title }} <span *ngIf="! (evento.title || evento.description)">.</span>
		<span *ngIf="cornerMask === 'right'"> - {{evento.end.time.slice(0, 2)}} </span>
	</p>
	<p>{{ evento.description }}</p>
</div>

<!-- Modale con Bulma -->
<div class="modal" [ngClass]="{ 'is-active': showModal }">
	<div class="modal-background" (click)="closeModal()"></div>
	<div class="modal-card" (click)="$event.stopPropagation()">
		<header class="modal-card-head">
			<p class="modal-card-title">Modify Event</p>
			<button class="delete" aria-label="close" (click)="closeModal()"></button>
		</header>
		<section class="modal-card-body">
			<div class="columns">
				<!-- title -->
				<div class="field column is-10">
					<label class="label" for="title">Title</label>
					<input #title class="input control" [(ngModel)]="evento.title" placeholder="Titolo evento">
				</div>
				<!-- colour -->
				<div class="field column is-2">
					<label class="label" for="colour">Colour</label>
					<input #colour class="input control" type="color" [(ngModel)]="evento.colour">
				</div>
			</div>
			<!-- when? -->
			<div class="columns">
				<!-- start -->
				<div class="field column">
					<label class="label" for="dateStart">Start Date</label>
					<input #dateStart class="input control" type="date"
						[(ngModel)]="evento.start.date"  (ngModelChange)="evento.calculateEnd()">
				</div>
				<div class="field column">
					<label class="label" for="timeStart">Start Hour</label>
					<input #timeStart class="input control" type="time"
						[(ngModel)]="evento.start.time" (ngModelChange)="evento.calculateEnd()">
				</div>
				<!-- duration -->
				<div class="field column">
					<label class="label" for="durationNumber">Duration</label>
					<input #durationNumber class="input control" type="number" min="1" step="1"
						[(ngModel)]="evento.duration.number" (ngModelChange)="evento.calculateEnd()">
				</div>
				<div class="field column">
					<label class="label" for="durationMeasure">Interval</label>
					<span class="select is-normal">
						<select	#durationMeasure name="durationMeasure"
							[(ngModel)]="evento.duration.measure" (ngModelChange)="evento.calculateEnd()">
							<option value="15min">15 mins</option>
							<option value="hours">hours</option>
							<option value="days">days</option>
							<option value="weeks">weeks</option>
						</select>
					</span>
				</div>
				<!-- end
				(troppi casini (se un evento finisce prima di iniziare non si puo` piu` modificare ed e` presente su mongodb))
				<div class="field column">
					<label class="label" for="dateEnd">End Date</label>
					<input #dateEnd class="input control" type="date" [(ngModel)]="evento.end.date">
				</div>
				<div class="field column">
					<label class="label" for="timeEnd">End Time</label>
					<input #timeEnd class="input control" type="time" [(ngModel)]="evento.end.time">
				</div> -->
			</div>
			<div> End Date: {{evento.end.date}} {{evento.end.time}} </div>
			<div class="field">
				<!-- descrizione -->
				<label class="label" for="description">Description</label>
				<textarea #description class="textarea control" [(ngModel)]="evento.description"
					placeholder="Description event"></textarea>
			</div>
		</section>
		<footer class="modal-card-foot level">
			<!-- buttons -->
			<div class="level-left">
				<button class="level-item button is-success" (click)="saveEvent()">Save</button>
				<button class="level-item button" (click)="closeModal()">Cancel</button>
			</div>
			<div class="level-right">
				<button class="level-item button is-danger" (click)="deleteEvent()">Delete</button>
			</div>
		</footer>
	</div>
</div>
