<div #primary>
  <div class="content has-text-centered">
    <h1>Pomodoro</h1>
    <h2>Study Time</h2>
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="field">
          <div class="control">
            <input class="input" type="number" min="0" placeholder="Hours" value="0"> hours
          </div>
          <div class="control">
            <input class="input" type="number" min="0" max="59" placeholder="Minutes" value="30"> minutes
          </div>
        </div>
      </div>
    </div>

    <h2>Relax Time</h2>
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="field">
          <div class="control">
            <input class="input" type="number" min="0" placeholder="Hours" value="0"> hours
          </div>
          <div class="control">
            <input class="input" type="number" min="0" max="59" placeholder="Minutes" value="5"> minutes
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="columns is-centered">
      <div class="column">
        <div class="field">
          <div class="control">
            <input class="input" type="number" min="0" placeholder="Repertions" value="5"> repetitions
          </div>
        </div>
      </div>
      <div class="column">
        <button class="button">skip to next relax/study</button>
        <button class="button">restart study cycle</button>
        <button class="button">end session</button>
      </div>
    </div>
    <hr>
  </div>

  <div class="content">
    <h2>Auto compute cycles</h2>
    <div class="columns is-centered">
      <div class="column">
        <div class="field">
          <div class="control">
            <input class="input" type="number" min="0" placeholder="Hours" value="0"> hours
          </div>
          <div class="control">
            <input class="input" type="number" min="0" max="59" placeholder="Minutes" value="30"> minutes
          </div>
        </div>
      </div>
      <div class="column">
        no. cycles: placeholder

      </div>
    </div>
  </div>
  <div class="content">
    <h2>Auto compute cycles</h2>
    <div class="columns is-centered">
      <div class="column">
        <div class="field">
          <div class="control">
            <input class="input" type="number" min="0" placeholder="Hours" value="0"> hours
          </div>
          <div class="control">
            <input class="input" type="number" min="0" max="59" placeholder="Minutes" value="30"> minutes
          </div>
        </div>
      </div>
      <div class="column">
        no. cycles: placeholder

      </div>
    </div>
  </div>
  <div class="content">
    <h2>Auto compute cycles</h2>
    <div class="columns is-centered">
      <div class="column">
        <div class="field">
          <div class="control">
            <input class="input" type="number" min="0" placeholder="Hours" value="0"> hours
          </div>
          <div class="control">
            <input class="input" type="number" min="0" max="59" placeholder="Minutes" value="30"> minutes
          </div>
        </div>
      </div>
      <div class="column">
        no. cycles: placeholder

      </div>
    </div>
  </div>
</div>
