<!DOCTYPE html>

<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <div>
    <section class="hero is-link">
      <div class="hero-body">
        <p class="title">This week's events</p>
        <p class="subtitle">July 21 - July 27</p>
      </div>
    </section>
    <section class="hero is-danger">
      <div class="hero-body">
        <p class="title">Last Pomodoro</p>
        <p class="subtitle">
          Started: {{this.startTime}}
          -
          Lasted:
          @if(this.duration < 60){
            {{ this.duration | number: "1.0-0" }}s
          }
          @else{
            {{ this.duration / 60 | number: "1.0-0"}}m
            {{this.duration % 60 | number: "1.0-0"}}s
          }

        </p>
      </div>
    </section>
  </div>
</body>
