<div>
	@if( visualize == "day" || visualize == "week" ) {
		<div class="day_of_week has-text-centered">
			{{ getName() }}
		</div>
	}
	<div class="has-text-centered" (click)="createEvent()"
		[ngClass]="classMonth()"
		[ngStyle]="{ 'background-color': getBackgroundColour() }">
		{{ day.getDate() }}
	</div>
	<event
		*ngFor="let event of upperEvents()"
		[evento]="event"
		[day]="day"
		[cornerMask]="getCornerMask(event)"
		[visualize]="visualize">
	</event>
	<activity
		*ngFor = "let activity of filteredActivities"
		[me]="activity"
		(save)="onSaveActivity($event)"
		(delete)="onDeleteActivity($event)">
	</activity>
	@if ( visualize == "day" || visualize == "week" ) {
		<div class="column no-space-between">
			@for (hour of hours; track hour) {
				<div class="cell day-cell">
					<div (click)="createEvent(hour)">
						{{ hour + ':00' }}
					</div>
					<event
						*ngFor="let event of getEventsForHour(hour)"
						[evento]="event"
						[day]="day"
						[cornerMask]="getCornerMask(event, hour)"
						[visualize]="visualize">
					</event>
				</div>
			}
		</div>
	}
</div>
