<div>
	@if( visualize == "day" || visualize == "week" ) {
		<div class="day_of_week has-text-centered">
			{{ getName() }}
		</div>
	}
	<div class="number_of_month">
		{{ day.getDate() }}
	</div>
	@if ( visualize == "day" || visualize == "week" ) {
		<div class="column no-space-between">
			@for (hour of hours; track hour) {
				<div
					class="cell day-cell"
					(click)="toggleEvent(hour)"
					[attr.id]="'cell-' + day.toISOString() + '-' + hour"
					>
					{{ hour + ':00' }}
				</div>
			}
		</div>
	}
	<event
		*ngFor="let e of displayed_events"
		[evento]="e.event"
		[rect]="e.rect">
	</event>
</div>