.day_of_week {
	color: yellow;
}
.number_of_month {
	color: lightgreen ;
	margin-left: 10px;
	margin-right: 10px;
}
.day-cell {
	border: 1px solid #ddd;
	flex: 1 1 0;
}
.column {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.grid {
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
}

.cell {
	flex: 1 1 0;
	min-width: 0;		/* allows shrink below content */
	overflow: hidden;
	text-align: center;
}
