<!DOCTYPE html>

<div class="field is-grouped is-align-items-center is-flex-wrap-wrap">
	<button class="button" (click)="default()"> Today </button>
	<button class="button" (click)="aggiornaData('prev', dwmy)" >
		&lt; </button>
	<span class="is-size-4"> {{ today | date: 'yyyy/MM/dd' }} </span>
	<button class="button" (click)="aggiornaData('next', dwmy)" >
		&gt; </button>
	<label for="dwmySelect" class="sr-only">Select period</label>
	<span class="select is-normal">
		<select id="dwmySelect" [(ngModel)]="dwmy" (ngModelChange)="onDwmyChange($event)" name="dwmy">
			<option value="d">day   D</option>
			<option value="w">week  W</option>
			<option value="m">month M</option>
			<option value="y">year  Y</option>
		</select>
	</span>
	<span class="is-size-4"> {{ today | date: 'fullDate' }} </span>
</div>
