<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#" (click)="navigateToHomePage()">
      <figure class="image" style="height: 52px; width: auto">
        <img src="/selfie-brand3.png" alt="brand logo" >
      </figure>
    </a>

    <a #navbarBurger role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="toggleNavbarBurger(navbarBurger)">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" [class.is-active]="navbarMenuOpen">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" (click)="navigateToSignupComponent(); toggleNavbarBurger(navbarBurger);">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" (click)="navigateToLoginComponent(); toggleNavbarBurger(navbarBurger);">
            Log in
          </a>
          <button class="button is-primary" (click)="requestPermission()">native notification</button>

        </div>
      </div>
    </div>
  </div>
</nav>


<!--in this very moment i have navbar which has a burger that is shown when i reduce the window size and on mobile. The burger is supposed to have the buttons and I'm trying to understand how this -->
