<div class="container">
	<strong>{{ getName(month) }} {{ year }}</strong>
	<div class="date-grid">
	@for (d of week_days; track d.id) {
		@if( visualize == 'month' ) {
			<div>{{ d.name }}</div>
		} @else {
			<div>{{ d.name[0] }}</div>
		}
	}
	@for (i of createRange(prev_days); track i) {
		<div>{{ i + min }}</div>
	}
	<day
		*ngFor="let day of days"
		[day]="day.date"
		[visualize]="visualize"

		[events]="events"
		(saveEvent)="onSaveEvent($event)"
		(deleteEvent)="onDeleteEvent($event)"
						
		[activities]="activities"
		(saveActivity)="onSaveActivity($event)"
		(deleteActivity)="onDeleteActivity($event)">
	</day>
	@for (i of createRange(next_days); track i) {
		<div>{{ i }}</div>
	}
	</div>
</div>
