<p>datumupdater works!</p>
<div class="level">
  <div class="level-left">{{ datumName }}: </div>
  <span class="level-item" [class.is-hidden]="datumEditorHidden">
    <input #newDatum class="input" type="text" placeholder="First Name Last Name"/>
    <button class="button primary" (click)="editDatum(newDatum)">Edit</button>
  </span>
  <div class="level-right">
    <span> {{datum}} </span>
    <span class="icon" title="Edit">
      <i class="fas fa-pencil-alt" (click)="toggleDatumEdit()"></i>
    </span>
  </div>
</div>
<hr>
