.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid #ccc;
}
div {
    text-align: center;
}
app-day {
    margin-inline: 10px;
}
