<div class="container">
    {{ this.getName(this.month) }} {{this.year}}
    <div class="date-grid">
    @for (d of week_days; track d.id) {
        @if(this.is_long) {
            <div>{{d.name}}</div>
        } @else {
            <div>{{d.name[0]}}</div>
        }
    }
    @for (i of createRange(this.prev_days); track i) {
        <div>{{i + this.min}}</div>
    }
    @for (i of createRange(this.month_days); track i) {
        <day [year]="this.year" [month]="this.month" [day]="i"></day>
    }
    @for (i of createRange(this.next_days); track i) {
        <div>{{i}}</div>
    }
    </div>
</div>