<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" (click)="onToggleSidebar()">
      <i class="far fa-window-maximize fa-2x"></i>
    </a>
    <a class="navbar-item">
      <figure class="image"(click)="navigateToHomepage()">
        <img src="/selfie-brand3.png" >
      </figure>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item">
        <figure class="image" >
          <i class="fas fa-user fa-2x"></i>
        </figure>
      </a>
    </div>
  </div>
</nav>

