<p>homeheader works!</p>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" (click)="openSidebar()">
      <figure class="image" style="height: 52px; width: auto">
        <img src="/left-sidebar.png" >
      </figure>
    </a>
    <a class="navbar-item">
      <figure class="image" style="height: 52px; width: auto">
        <img src="/selfie-brand3.png" >
      </figure>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    navbarMenu
    <div class="navbar-end">
      <a class="navbar-item">
        <figure class="image" style="height: 52px; width: auto">
          <img src="/default-user-profile-pic.png" >
        </figure>
      </a>
    </div>
  </div>
</nav>

